<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅游</title>
</head>
<body>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <ul class="list-group">
        <a href="__CONTROLLER__/index" class="list-group-item active">查看景点</a>
        <a href="__CONTROLLER__/add" class="list-group-item">添加景点</a>
        <a href="__CONTROLLER__/index" class="list-group-item">修改景点</a>
        <a href="__CONTROLLER__/search" class="list-group-item">查询景点</a>
        <a href="__CONTROLLER__/index" class="list-group-item">删除景点</a>
    </ul>
</div>
<!--右侧主要内容-->
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>旅游管理</h1>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tbody>
                <tr class="bg-primary">
                    <th scope="row"></th>
                    <th><input type="checkbox">全选</th>
                    <th>景点名称</th>
                    <th>景点介绍</th>
                    <th>景点票价</th>
                    <th>景点票数</th>
                    <th>操作</th>
                </tr>
                <foreach name="res" item="v">
                    <tr class="bg-success">
                        <th scope="row"></th>
                        <td><input type="checkbox"></td>
                        <td>{$v.place}</td>
                        <td>{$v.introduce}</td>
                        <td>{$v.hticket}</td>
                        <td>{$v.sticket}</td>
                        <td>
                            <a type="button" class="btn btn-primary btn-sm" href="__CONTROLLER__/revise/id/{$v.id}">
                                <span class="glyphicon glyphicon-pencil"></span>编辑 </a>
                            <a type="button" class="btn btn-danger btn-sm" href="__CONTROLLER__/delete/id/{$v.id}">
                                <span class="glyphicon glyphicon-trash"></span>删除</a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <div class="pagelist" align="right">
                <?php echo $page; ?>
            </div>
        </div>
    </div>
</div>
</body>
</html>