<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <ul class="list-group">
                <li><a href="__MODULE__/Message/index" class="list-group-item active">查看留言</a></li>
            </ul>
        </div>
        <!--右侧主要内容-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--这里放置标题、选项-->
                    <h1>查看留言</h1>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a href="#bulletin" role="tab" data-toggle="tab">查看留言</a>
                                </li>
                            </ul>
                            <!--选项卡面板-->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane active" id="bulletin">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr class="bg-primary">
                                            <th scope="row"></th>
                                            <td>id</td>
                                            <td>留言人</td>
                                            <td>留言内容</td>
                                            <td>留言时间</td>
                                            <td>回复内容</td>
                                            <td>是否回复</td>
                                            <td>是否删除
                                            </td>
                                        </tr>
                                        <foreach name="res" item="v">
                                        <tr class="bg-danger">
                                            <th scope="row"></th>
                                            <td>{$v.id}</td>
                                            <td>{$v.writer}</td>
                                            <td>{$v.content}</td>
                                            <td>{$v.time}</td>
                                            <td>{$v.reply}</td>
                                            <td><a href="__CONTROLLER__/reply/id/{$v.id}">回复</a></td>

                                            <td><a href="__CONTROLLER__/check/id/{$v.id}"> 删除</a></td>
                                        </tr>
                                        </foreach>
                                        </tbody>
                                    </table>
                                    <table>
                                        <nav class="pull-right">
                                            <ul class="pagination">
                                                <?php echo $page; ?>
                                      <!--          <li class="disabled">
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>
                                                <li>
                                                    <a href="#">2</a>
                                                </li>
                                                <li>
                                                    <a href="#">3</a>
                                                </li>
                                                <li>
                                                    <a href="#">4</a>
                                                </li>
                                                <li>
                                                    <a href="#">5</a>
                                                </li>
                                                <li>
                                                    <a href="#">6</a>
                                                </li>
                                                <li><a href="#">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a> </li>-->
                                            </ul>
                                        </nav>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>