<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <ul class="list-group">
                <li><a href="__MODULE__/Dynamic/index" class="list-group-item">查看动态</a></li>
                <li><a href="__MODULE__/Dynamic/add" class="list-group-item">增加动态</a></li>
                <li><a href="__MODULE__/Dynamic/revise" class="list-group-item active">修改动态</a></li>
                <li><a href="__MODULE__/Dynamic/delete" class="list-group-item">删除动态</a></li>
            </ul>
        </div>
        <!--右侧主要内容-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--这里放置标题、选项-->
                    <h1>修改动态</h1>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a href="#bulletin" role="tab" data-toggle="tab">修改动态</a>
                                </li>
                            </ul>
                            <!--选项卡面板-->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane active" id="bulletin">
                                    <form method="post">
                                    <table class="table table-hover">
                                        <tr><th width="80">动态id：</th><td><input type="text" name="id"></td></tr>
                                        <tr><th>动态题目：</th><td><input type="text" name="title"></td></tr>
                                        <tr><th>动态内容：</th><td><textarea name="content"></textarea></td></tr>
                                        <tr><td>&nbsp;</td><td><input class="login_btn" type="submit" value="确认" /></td></tr>
                                    </table>
                                    </form>
                                    <table>
                                        <nav class="pull-right">
                                            <ul class="pagination">
                                                <?php echo $page; ?>
                                            </ul>
                                        </nav>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>