<meta charset="UTF-8">
<title>非遗名录</title>
<link href="__PUBLIC__/Home/css/director.css" rel="stylesheet">
<div class="container" id="directorBox">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="dir-left">
            <div class="dir-type1">
                <div class="dir-type1-inside1">
                </div>
                <div class="dir-type1-inside2">
                </div>
                <div class="type-name-box" id="wenxue">
                </div>
            </div>
            <div class="dir-type2">
                <div class="dir-type2-inside1">
                </div>
                <div class="dir-type2-inside2">
                </div>
                <div class="type-name-box" id="yinyue">

                </div>
            </div>
            <div class="dir-type1">
                <div class="dir-type1-inside1">

                </div>
                <div class="dir-type1-inside2">

                </div>
                <div class="type-name-box" id="wudao">

                </div>
            </div>
            <div class="dir-type2">
                <div class="dir-type2-inside1">

                </div>
                <div class="dir-type2-inside2">

                </div>
                <div class="type-name-box" id="xiju">

                </div>
            </div>
            <div class="dir-type1">
                <div class="dir-type1-inside1">

                </div>
                <div class="dir-type1-inside2">

                </div>
                <div class="type-name-box" id="jingji">

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="dir-right">
            <div class="dir-type2">
                <div class="dir-type2-inside1">

                </div>
                <div class="dir-type2-inside2">

                </div>
                <div class="type-name-box" id="meishu">

                </div>
            </div>
            <div class="dir-type1">
                <div class="dir-type1-inside1">

                </div>
                <div class="dir-type1-inside2">

                </div>
                <div class="type-name-box" id="shougong">

                </div>
            </div>
            <div class="dir-type2">
                <div class="dir-type2-inside1">

                </div>
                <div class="dir-type2-inside2">

                </div>
                <div class="type-name-box" id="yiyao">

                </div>
            </div>
            <div class="dir-type1">
                <div class="dir-type1-inside1">

                </div>
                <div class="dir-type1-inside2">

                </div>
                <div class="type-name-box" id="minsu">

                </div>
            </div>
            <div class="dir-type2">
                <div class="dir-type2-inside1">

                </div>
                <div class="dir-type2-inside2">

                </div>
                <div class="type-name-box" id="quyi">

                </div>
            </div>
        </div>
    </div>
</div>